@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: grifterbold;
  src: url("/fonts/grifterbold.otf");
}

.font-grifterbold {
  font-family: grifterbold;
}

.hero-solutions b {
  font-family: grifterbold;
  letter-spacing: 2.4px;
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }

  .animation-running {
    animation-play-state: running;
  }

  .zoom-1 {
    zoom: 1;
  }
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .hero-landing-page span,
  p,
  h1,
  h2,
  h3 {
    zoom: 1.2;
  }

  .products-page span,
  p,
  h1,
  h2,
  h3 {
    zoom: 1.1;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.swiper-pagination {
  bottom: -6px;
}

.max-lg-hidden {
  @apply max-lg:hidden;
}

input[type="number"] {
  font-size: inherit;
  background-color: inherit;
}

input[type="number"]::placeholder {
  font-size: inherit;
  color: inherit;
}

.react-date-picker__inputGroup__input {
  @apply !p-0;
}

.react-date-picker__inputGroup__input:focus {
  @apply !ring-0 !outline-0;
}

.react-date-picker__inputGroup__input:invalid {
  @apply !bg-transparent;
}

.react-date-picker__inputGroup {
  @apply !w-full px-4 py-3;
}

.react-date-picker__wrapper {
  @apply !border-0;
}

.react-date-picker__calendar {
  @apply !max-w-full;
}

.react-calendar__tile--active {
  @apply !bg-primary/90 text-white rounded-sm;
}

.tooltip-container[data-popper-placement*="top"] .tooltip-arrow::before {
  border: none !important;
}

.bg-investment {
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .bg-investment {
    background-size: 337% 64%;
    background-position: 58%;
  }
  .after-gradient-wellnesscard::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #181a1c 0%,
      rgba(24, 26, 28, 0.66) 55.04%,
      rgba(24, 26, 28, 0) 83.09%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 16px;
    z-index: 0;
  }
}

.custom-cursor {
  /* width: 8px;
  height: 8px;
  background-color: #FF5733;  */
  background-color: black;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  /* Additional Tailwind CSS classes */
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 22px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:before {
  border: 1px solid #99D4FF;
}
[type="radio"]:not(:checked) + label:before {
  border: 1px solid #7B7F81;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #99D4FF;
  position: absolute;
  top: 6px;
  left: 3px;
  border-radius: 100%;
  box-shadow: 0px 1px 4px 0px rgba(153, 212, 255, 1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
